.footer p {
    color: var(--color-footer-texto);
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-shadow: black 1px 1px 1px;
}

.footer a {
    color: var(--color-footer-enlaces);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer p {
        font-size: 1em;
    }
}