:root{

    --fondo-principal: #f0f0f0;
    --color-texto-principal: #000;
    --color-texto-principal-politicas: #777777;
    --color-texto-principal-registro: #777777;

    /* Tamaños */
    --xl: 22px;
    --l: 18px;
    --m: 16px;
    --s: 14px;
    --xs: 12px;

    /* Tipografias */

    /* Espacios */
    --espaciado-grande: 1.5em;
    --espaciado-normal: 1em;
    --espaciado-reducido: .5em;
    
    /* Bordes */

}

.modo-oscuro{
    --fondo-principal: #333;
    --color-texto-principal: #fff;
    --color-texto-principal-politicas: #cccccc;
    --color-texto-principal-registro: #cccccc;
}