:root{
  
    /* Colores */
    --fondo-principal: #f0f0f0;
    --color-texto-principal: #000000;
    --color-texto-principal-politicas: #777777;
    --color-texto-principal-registro: #777777;
    --color-texto-principal-azul: #0096ff;


    /* Lista Mascotas */
    --color-fondo-mascotas: #ffffff;
    --color-texto-mascotas: #000000;

    /* Mascota */
    --color-boton-mascota: #0096ff;
    --color-cuadro-mascota: #f0f0f0;
    --color-texto-mascota: #000000;

    /* Paginacion */
    --color-paginacion-fondo: #f0f0f0;
    --color-paginacion-texto: #000000;

    /* Footer */
    --color-footer-texto: #CCCCCC;
    --color-footer-enlaces: #0096ff;

    /* Tamaños */
    --xl: 20px;
    --l: 18px;
    --m: 16px;
    --s: 14px;
    --xs: 12px;

    /* Espacios */
    --espaciado-grande: 1.5em;
    --espaciado-normal: 1em;
    --espaciado-reducido: .5em;
    
    /* Bordes */

}

.modo-oscuro{
    /* Colores */
    --fondo-principal: #333333;
    --color-texto-principal: #ffffff;
    --color-texto-principal-politicas: #cccccc;
    --color-texto-principal-registro: #cccccc;

    /* Lista Mascotas */
    --color-fondo-mascotas: #666666;
    --color-texto-mascotas: #ffffff;

    /* Mascota */
    --color-boton-mascota: #0096ff;
    --color-cuadro-mascota: #666666;
    --color-texto-mascota: #ffffff;

    /* Paginacion */
    --color-paginacion-fondo: #333333;
    --color-paginacion-texto: #ffffff;

    /* Lista Mascotas */
    --color-fondo-mascotas: #666666;
    --color-texto-mascotas: #ffffff;
}