:root{
  
    /* Colores */
    --fondo-principal: #f0f0f0;
    --color-texto-principal: #00000;
    --color-texto-principal-politicas: #777777;
    --color-texto-principal-registro: #777777;

    /* Footer */
    --color-footer-texto: #CCCCCC;
    --color-footer-enlaces: #0096ff;

    /* Tamaños */
    --xl: 20px;
    --l: 18px;
    --m: 16px;
    --s: 14px;
    --xs: 12px;

    /* Espacios */
    --espaciado-grande: 1.5em;
    --espaciado-normal: 1em;
    --espaciado-reducido: .5em;
    
    /* Bordes */

}

.modo-oscuro{
    --fondo-principal: #333333;
    --color-texto-principal: #ffffff;
    --color-texto-principal-politicas: #cccccc;
    --color-texto-principal-registro: #cccccc;
}